$text: #464646;
$textLight: #787878;
$white: #FFFFFF;
$black:#000000;
$blackBg: #222222;
$red:#fd3753;
$green: #0cb88f;
$yellow : #ffc400;
$purple:#5f8fe7;
$cyan: #5fcace;
$blue:#03a9f4;
$bgGrey: #f4f5f9;
$darkbg: #333;
$borderColor: #ddd;
$modalBg: #000000cc;
$orange:#FF8303;