@font-face {
    font-family: 'SourceSansPro';
    src:  url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 900;
    src:  url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 900;
    src:  url('../fonts/SourceSansPro-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 300;
    src:  url('../fonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro';
    font-weight: 700;
    src:  url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

