@import '../../sass/Base.scss';

.menu-dashboard{
    .menu-column{
        max-height: calc(100vh - 250px);
        overflow: auto;
    }
    .add-button{
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        background-color: $bgGrey;
        &:hover{
            background-color: darken($bgGrey, 10%);
        }
    }
    .menucard{
        cursor: pointer;
        position: relative;
        &:hover{
            background-color: darken($white, 5%);
        }
        &.active{
            background-color: $green;
            .text{
                color: $white;
            }
            .eye-icon{
                path{
                    fill:$white;
                }
            }
        }
    }
    .eye-icon{
        position: absolute;
        top: 3px;
        right: 10px;
        width: 18px;

    }
    .upload-style{
        position: absolute;
        top: 0;
        right: 0;
        height: 120px;
        width: 120px;
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 0;
    }
    .left{
        left: 0;
        right: 0;
    }
    .upload{
        opacity: 0;
        height: 120px;
        width: 120px;
        z-index: 1;
        cursor: pointer;
    }
    .logo-image{
        height:120px;
        width:120px;
        border-radius: 50%;
        &~.camera-icon{
            position: absolute;
            top: 0;
            right: -10px;
            height: 24px;
            width: 24px;
        }
    }
    
    .logo{
        width: 120px;
        height: 120px;
        display: none;
    }
    .gallery-image{
        height:120px;
        width:120px;
        border-radius: 4px;
    }
}
.modal-wrapper{
    min-width: 300px;
    
}