@import '../../sass/Base.scss';

.orders-wrapper{
    .tables{
        flex-basis: 60%;
    }
    .each-table{
        border: 1px solid $borderColor;
        border-radius: 4px;
        min-width: 150px;
        height: fit-content;
        cursor: pointer;
        &:hover{
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
        }
        &.table-selected{
            border: 2px solid $green;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
        }
    }
    .order-color{
        height:10px;
        width:10px;
        border-radius:10px;
        margin-right:5px;
    }
    .orders{
        max-height: calc(100vh - 100px);
        overflow: auto;
    }
}